.container{
    margin: auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 700px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
